<div class="container">
  <div class="col-8 m-auto">
    <div class="m-4 p-2 text-center">
    <%= image_tag @item.get_image(400,300) %>
    </div>
   <div class="m-2">
    <h4 class="text-center font-weight-bold"><%= @item.name %></h4>
   </div>
   <div class="text-center">
    <p class="font-weight-light"><%= @item.introduction %></p>
   </div>
   <div class="d-flex justify-content-end">
     <p class="font-weight-bold mr-2">ジャンル</p>
     <p><%= @item.genre.name %></p>
    </div>
    <div class="text-right">
      <p class="font-weight-bold">￥<%= (@item.price*1.1).to_i %>  (税込み）</p>
    </div>
    <div class="text-right">
      <%= form_with model: @cart_item, url: cart_items_path do |f| %>
      <div>
        <%= f.hidden_field :item_id, :value => @item.id %>
      </div>
      <div class="form-group m-2">
        <%= f.select :amount, *[1..10], include_blank: "個数を選択", class: "form-control"  %>
      </div>
      <div class="form-group">
        <%= f.submit "カートに入れる", class: "btn btn-sm btn-success" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
